.login-register-container {
    width: 100%;
}

.login-register-button {
    width: 50%;
}

.auth-module-actions-container {
    text-align: right;
}

.auth-module-action-button {
    margin: 10px;
    width: 100px;
}
