<div id="auth-dialog-container">
  <mat-button-toggle-group class="login-register-container" name="login-register" #group="matButtonToggleGroup" value=login>
    <mat-button-toggle class="login-register-button" value="login">Login</mat-button-toggle>
    <mat-button-toggle class="login-register-button" value="register">Register</mat-button-toggle>
  </mat-button-toggle-group> 
  <h1 mat-dialog-title>Add file</h1>
  <div mat-dialog-content>
    <mat-horizontal-stepper [linear]="true" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Email</ng-template>
          <mat-form-field>
            <input matInput formControlName="firstCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperNext>Next</button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Password</ng-template>
          <mat-form-field>
            <input matInput placeholder="Address" formControlName="secondCtrl" required>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button matStepperNext>Done</button>
          </div>
        </form>
      </mat-step>
    </mat-horizontal-stepper>
    <div class="auth-module-actions-container">
        <button mat-raised-button class="auth-module-action-button" color="primary" *ngIf="group.value === 'login'">Login</button>
        <button mat-raised-button class="auth-module-action-button" color="primary" *ngIf="group.value === 'register'">Register</button>
        <button mat-raised-button class="auth-module-action-button" color="warn">Cancel</button>  
    </div>
  </div>
</div>