#note-edit-area {
    width: 100%;
    padding: 20px;
}

#app-container {
    position: fixed;
    width: 100%;
    height: 100%;
}

#main-toolbar {
    height: 35px;
    padding: 0px;
}

.sidenav-container {
    height: 100%;
    width: 100%;
}

.sidenav-content-component {
    padding: 2%;
}

.mode-button {
    width: 50%;
}

#search-input{
    font-size: 10px;
}

#side-nav {
    width: 250px;
}

#note-icons-container {
    width: 230px;
}

#view-icons-container {
    margin: auto;
}

#auth-icon-container {
    position: absolute;
    right: 10px;
}

.split-view {
    width: 46%;
    margin: 2%;
    display: inline-block;
}
