<div id="app-container">
  <mat-toolbar id="main-toolbar">
    <div id="note-icons-container">
      <button mat-button (click)="sidenav.toggle()">
        <mat-icon>view_list</mat-icon>
      </button>
      <button mat-button (click)="createNote()">
        <mat-icon>add_circle</mat-icon>
      </button>
      <button mat-button (click)="saveCurrentNote()">
        <mat-icon>save</mat-icon>
      </button>
      <button mat-button (click)="deleteNote()">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div id="view-icons-container">
      <button mat-button (click)="switchMode('edit')">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-button (click)="switchMode('markdown')">
        <mat-icon>pageview</mat-icon>
      </button>
    </div>
    <div id="auth-icons-container">
      <button mat-button (click)="openAuthDialog()">
        <mat-icon>person</mat-icon>
      </button>
    </div>
  </mat-toolbar>

  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #sidenav id="side-nav" mode="side" opened>
      <app-note-tile *ngFor="let note of notes" [note]="note"></app-note-tile>
    </mat-sidenav>
    <mat-sidenav-content class="sidenav-content-component">
      <app-note-edit *ngIf="mode === 'edit'"></app-note-edit>
      <app-note-markdown *ngIf="mode === 'markdown'"></app-note-markdown>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
