@import '~@angular/material/theming';

$break-small: 480px;

@include mat-core();
$my-theme-primary: mat-palette($mat-blue-grey, 500, 200, 900);
$my-theme-accent: mat-palette($mat-blue);
$my-theme-warn: mat-palette($mat-red, A200);
$dark-theme: mat-dark-theme(
  $my-theme-primary,
  $my-theme-accent,
  $my-theme-warn
);

html, body {
  @include angular-material-theme($dark-theme);
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden;
}

body { margin: 0; font-family: 'Roboto', sans-serif; }
*::-webkit-scrollbar {
  width: 0.3em;
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

#note-edit-area-container .mat-form-field-underline {
  display: none;
}
